In [1]:
import pandas as pd
import numpy as np

In [3]:
cd = pd.read_csv('owid-covid-data.csv')
cd

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155134,ZWE,Africa,Zimbabwe,2022-01-12,224433.0,1433.0,768.000,5215.0,35.0,17.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155135,ZWE,Africa,Zimbabwe,2022-01-13,225084.0,651.0,700.857,5222.0,7.0,16.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155136,ZWE,Africa,Zimbabwe,2022-01-14,225637.0,553.0,622.143,5238.0,16.0,14.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155137,ZWE,Africa,Zimbabwe,2022-01-15,225637.0,0.0,531.286,5238.0,0.0,12.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155138,ZWE,Africa,Zimbabwe,2022-01-16,226078.0,441.0,594.286,5247.0,9.0,14.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [6]:
cd.head(20)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
10,AFG,Asia,Afghanistan,2020-03-05,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
11,AFG,Asia,Afghanistan,2020-03-06,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
12,AFG,Asia,Afghanistan,2020-03-07,8.0,3.0,0.429,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
13,AFG,Asia,Afghanistan,2020-03-08,8.0,0.0,0.429,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
14,AFG,Asia,Afghanistan,2020-03-09,8.0,0.0,0.429,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
15,AFG,Asia,Afghanistan,2020-03-10,8.0,0.0,0.429,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
16,AFG,Asia,Afghanistan,2020-03-11,11.0,3.0,0.857,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
17,AFG,Asia,Afghanistan,2020-03-12,11.0,0.0,0.857,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
18,AFG,Asia,Afghanistan,2020-03-13,11.0,0.0,0.857,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
19,AFG,Asia,Afghanistan,2020-03-14,14.0,3.0,0.857,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [7]:
cd.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
155134,ZWE,Africa,Zimbabwe,2022-01-12,224433.0,1433.0,768.000,5215.0,35.0,17.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155135,ZWE,Africa,Zimbabwe,2022-01-13,225084.0,651.0,700.857,5222.0,7.0,16.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155136,ZWE,Africa,Zimbabwe,2022-01-14,225637.0,553.0,622.143,5238.0,16.0,14.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155137,ZWE,Africa,Zimbabwe,2022-01-15,225637.0,0.0,531.286,5238.0,0.0,12.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155138,ZWE,Africa,Zimbabwe,2022-01-16,226078.0,441.0,594.286,5247.0,9.0,14.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [8]:
cd.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [9]:
cd.index

RangeIndex(start=0, stop=155139, step=1)

In [10]:
cd.values

array([['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ['AFG', 'Asia', 'Afghanistan', ..., nan, nan, nan],
       ...,
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan],
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan],
       ['ZWE', 'Africa', 'Zimbabwe', ..., nan, nan, nan]], dtype=object)

In [11]:
cd.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [12]:
cd['iso_code']

0         AFG
1         AFG
2         AFG
3         AFG
4         AFG
         ...
155134    ZWE
155135    ZWE
155136    ZWE
155137    ZWE
155138    ZWE
Name: iso_code, Length: 155139, dtype: object

In [13]:
cd.iso_code

0         AFG
1         AFG
2         AFG
3         AFG
4         AFG
         ...
155134    ZWE
155135    ZWE
155136    ZWE
155137    ZWE
155138    ZWE
Name: iso_code, Length: 155139, dtype: object

In [15]:
cd.location.size

155139

In [16]:
cd.location.unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
cd.location.value_counts().head(20)

Mexico                 747
Argentina              747
Peru                   747
Thailand               744
Taiwan                 732
United States          726
North America          726
Macao                  726
Japan                  726
South Korea            726
Upper middle income    726
Lower middle income    726
Asia                   726
World                  726
High income            726
China                  726
European Union         725
Hong Kong              725
Vietnam                725
Singapore              725
Name: location, dtype: int64

In [19]:
cd.location.value_counts().tail(20)

Solomon Islands              462
Wallis and Futuna            455
Marshall Islands             446
Vanuatu                      433
Samoa                        425
Micronesia (country)         361
Guernsey                     353
Northern Cyprus              317
Jersey                       302
Tonga                        272
Nauru                        268
Sint Maarten (Dutch part)    246
Kiribati                     244
Cook Islands                 241
Turkmenistan                 183
Tuvalu                       179
Palau                        148
Tokelau                      114
Pitcairn                      85
Niue                          43
Name: location, dtype: int64

In [21]:
cd.new_cases.max()

3701643.0

In [22]:
cd.new_cases.min()

-74347.0

In [23]:
cd.new_cases.mean()

9063.710553800274

In [24]:
cd.new_cases.describe()

count    1.522390e+05
mean     9.063711e+03
std      5.943285e+04
min     -7.434700e+04
25%      1.000000e+00
50%      7.200000e+01
75%      9.470000e+02
max      3.701643e+06
Name: new_cases, dtype: float64

In [25]:
cd.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.523460e+05,1.522390e+05,1.510880e+05,1.349990e+05,135153.000000,135021.000000,151636.000000,151529.000000,150383.000000,134302.000000,...,99059.000000,97635.000000,63982.000000,115521.000000,144802.000000,127216.000000,5.285000e+03,5285.000000,5285.000000,5285.000000
mean,2.185169e+06,9.063711e+03,8.895056e+03,5.354964e+04,170.072762,169.597378,24108.517993,117.851702,113.981480,465.050887,...,10.624006,32.765198,50.807367,3.028328,73.583313,0.725815,3.499880e+04,9.090225,16.267864,874.054261
std,1.296057e+07,5.943285e+04,5.568750e+04,2.813624e+05,829.028439,809.798859,39435.147324,448.167582,311.149306,731.573940,...,10.553810,13.516130,31.812220,2.451893,7.496287,0.149981,9.939849e+04,16.704772,31.070760,1304.811632
min,1.000000e+00,-7.434700e+04,-6.223000e+03,1.000000e+00,-1918.000000,-232.143000,0.001000,-3125.829000,-272.971000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.195940e+04,-28.450000,-95.920000,-1728.844404
25%,1.629000e+03,1.000000e+00,6.000000e+00,6.900000e+01,0.000000,0.143000,527.445250,0.025000,1.465000,16.212250,...,1.900000,21.600000,19.351000,1.300000,69.500000,0.602000,-9.160000e+01,-0.820000,-0.520000,-36.872705
50%,2.147650e+04,7.200000e+01,9.528600e+01,6.940000e+02,2.000000,2.286000,4099.221000,10.262000,16.353000,108.360000,...,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000,2.706000e+03,5.600000,7.250000,405.677103
75%,2.619462e+05,9.470000e+02,9.974645e+02,6.583500e+03,19.000000,20.143000,31660.151000,89.033000,101.980000,630.972000,...,19.300000,41.300000,83.241000,4.000000,78.930000,0.845000,2.188600e+04,13.930000,22.880000,1479.583834
max,3.280730e+08,3.701643e+06,2.946282e+06,5.539569e+06,18062.000000,14704.857000,386379.502000,51427.491000,9241.954000,6096.510000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.052058e+06,115.000000,374.400000,8169.496662

In [27]:
cd.new_cases.count(), cd.new_cases.size

(152239, 155139)

In [31]:
cd.new_cases.isna().sum()

2900

In [30]:
cd.new_cases.fillna(0)

0            5.0
1            0.0
2            0.0
3            0.0
4            0.0
           ...
155134    1433.0
155135     651.0
155136     553.0
155137       0.0
155138     441.0
Name: new_cases, Length: 155139, dtype: float64

In [32]:
cd.new_cases.fillna(0).isna().sum()

0

In [35]:
cd[['iso_code', 'continent']]

       iso_code continent
0           AFG      Asia
1           AFG      Asia
2           AFG      Asia
3           AFG      Asia
4           AFG      Asia
...         ...       ...
155134      ZWE    Africa
155135      ZWE    Africa
155136      ZWE    Africa
155137      ZWE    Africa
155138      ZWE    Africa

[155139 rows x 2 columns]

In [36]:
cd.select_dtypes('object')

       iso_code continent     location        date      tests_units
0           AFG      Asia  Afghanistan  2020-02-24              NaN
1           AFG      Asia  Afghanistan  2020-02-25              NaN
2           AFG      Asia  Afghanistan  2020-02-26              NaN
3           AFG      Asia  Afghanistan  2020-02-27              NaN
4           AFG      Asia  Afghanistan  2020-02-28              NaN
...         ...       ...          ...         ...              ...
155134      ZWE    Africa     Zimbabwe  2022-01-12  tests performed
155135      ZWE    Africa     Zimbabwe  2022-01-13  tests performed
155136      ZWE    Africa     Zimbabwe  2022-01-14              NaN
155137      ZWE    Africa     Zimbabwe  2022-01-15              NaN
155138      ZWE    Africa     Zimbabwe  2022-01-16              NaN

[155139 rows x 5 columns]

In [37]:
cd.filter(like = 'cases')

,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million
0,5.0,5.0,NaN,0.126,0.126,NaN
1,5.0,0.0,NaN,0.126,0.000,NaN
2,5.0,0.0,NaN,0.126,0.000,NaN
3,5.0,0.0,NaN,0.126,0.000,NaN
4,5.0,0.0,NaN,0.126,0.000,NaN
...,...,...,...,...,...,...
155134,224433.0,1433.0,768.000,14870.823,94.950,50.887
155135,225084.0,651.0,700.857,14913.958,43.135,46.438
155136,225637.0,553.0,622.143,14950.599,36.642,41.223
155137,225637.0,0.0,531.286,14950.599,0.000,35.203
155138,226078.0,441.0,594.286,14979.820,29.220,39.377

In [39]:
cd.sort_values('total_cases', ascending=False)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
153153,OWID_WRL,NaN,World,2022-01-16,328072957.0,1919945.0,2936949.429,5539569.0,4143.0,7131.286,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
153152,OWID_WRL,NaN,World,2022-01-15,326153012.0,2582302.0,2946282.143,5535426.0,5887.0,7064.286,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
153151,OWID_WRL,NaN,World,2022-01-14,323570710.0,3471119.0,2879547.286,5529539.0,8729.0,6958.286,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
153150,OWID_WRL,NaN,World,2022-01-13,320099591.0,2819646.0,2802334.571,5520810.0,7191.0,6717.143,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
153149,OWID_WRL,NaN,World,2022-01-12,317279945.0,3701643.0,2773813.286,5513619.0,9229.0,6648.857,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143866,TUV,Oceania,Tuvalu,2021-10-18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
143867,TUV,Oceania,Tuvalu,2021-10-19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
143868,TUV,Oceania,Tuvalu,2021-10-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
143869,TUV,Oceania,Tuvalu,2021-10-21,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
143870,TUV,Oceania,Tuvalu,2021-10-22,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN

In [ ]:
cd.iloc, cd.loc

In [40]:
cd.iloc[0]

iso_code                                           AFG
continent                                         Asia
location                                   Afghanistan
date                                        2020-02-24
total_cases                                        5.0
                                              ...
human_development_index                          0.511
excess_mortality_cumulative_absolute               NaN
excess_mortality_cumulative                        NaN
excess_mortality                                   NaN
excess_mortality_cumulative_per_million            NaN
Name: 0, Length: 67, dtype: object

In [41]:
cd.iloc[[0, 3]]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [43]:
cd.iloc[2:20]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
10,AFG,Asia,Afghanistan,2020-03-05,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
11,AFG,Asia,Afghanistan,2020-03-06,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
12,AFG,Asia,Afghanistan,2020-03-07,8.0,3.0,0.429,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
13,AFG,Asia,Afghanistan,2020-03-08,8.0,0.0,0.429,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
14,AFG,Asia,Afghanistan,2020-03-09,8.0,0.0,0.429,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
15,AFG,Asia,Afghanistan,2020-03-10,8.0,0.0,0.429,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
16,AFG,Asia,Afghanistan,2020-03-11,11.0,3.0,0.857,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
17,AFG,Asia,Afghanistan,2020-03-12,11.0,0.0,0.857,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
18,AFG,Asia,Afghanistan,2020-03-13,11.0,0.0,0.857,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
19,AFG,Asia,Afghanistan,2020-03-14,14.0,3.0,0.857,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [44]:
cd.iloc[2:20, 4]

2      5.0
3      5.0
4      5.0
5      5.0
6      5.0
7      5.0
8      5.0
9      5.0
10     5.0
11     5.0
12     8.0
13     8.0
14     8.0
15     8.0
16    11.0
17    11.0
18    11.0
19    14.0
Name: total_cases, dtype: float64

In [45]:
cd.iloc[2:20, 'total_cases']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [46]:
cd.loc[2:20, 'total_cases']

2      5.0
3      5.0
4      5.0
5      5.0
6      5.0
7      5.0
8      5.0
9      5.0
10     5.0
11     5.0
12     8.0
13     8.0
14     8.0
15     8.0
16    11.0
17    11.0
18    11.0
19    14.0
20    20.0
Name: total_cases, dtype: float64

In [47]:
cd.loc[2:20, 'iso_code':'date']

   iso_code continent     location        date
2       AFG      Asia  Afghanistan  2020-02-26
3       AFG      Asia  Afghanistan  2020-02-27
4       AFG      Asia  Afghanistan  2020-02-28
5       AFG      Asia  Afghanistan  2020-02-29
6       AFG      Asia  Afghanistan  2020-03-01
7       AFG      Asia  Afghanistan  2020-03-02
8       AFG      Asia  Afghanistan  2020-03-03
9       AFG      Asia  Afghanistan  2020-03-04
10      AFG      Asia  Afghanistan  2020-03-05
11      AFG      Asia  Afghanistan  2020-03-06
12      AFG      Asia  Afghanistan  2020-03-07
13      AFG      Asia  Afghanistan  2020-03-08
14      AFG      Asia  Afghanistan  2020-03-09
15      AFG      Asia  Afghanistan  2020-03-10
16      AFG      Asia  Afghanistan  2020-03-11
17      AFG      Asia  Afghanistan  2020-03-12
18      AFG      Asia  Afghanistan  2020-03-13
19      AFG      Asia  Afghanistan  2020-03-14
20      AFG      Asia  Afghanistan  2020-03-15

In [49]:
cd.iso_code == 'POL'

0         False
1         False
2         False
3         False
4         False
          ...
155134    False
155135    False
155136    False
155137    False
155138    False
Name: iso_code, Length: 155139, dtype: bool

In [53]:
cd.loc[(cd.iso_code == 'POL') & (cd.total_cases > 10)]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
112702,POL,Europe,Poland,2020-03-08,11.0,6.0,NaN,NaN,NaN,NaN,...,23.3,33.1,NaN,6.62,78.73,0.88,-6305.6,-7.01,-6.3,-166.828055
112703,POL,Europe,Poland,2020-03-09,16.0,5.0,2.286,NaN,NaN,NaN,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
112704,POL,Europe,Poland,2020-03-10,22.0,6.0,3.143,NaN,NaN,NaN,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
112705,POL,Europe,Poland,2020-03-11,31.0,9.0,4.286,NaN,NaN,NaN,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
112706,POL,Europe,Poland,2020-03-12,49.0,18.0,6.857,1.0,1.0,0.143,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113377,POL,Europe,Poland,2022-01-12,4248559.0,16173.0,12263.429,100938.0,684.0,324.571,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
113378,POL,Europe,Poland,2022-01-13,4265433.0,16874.0,12305.857,101419.0,481.0,301.143,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
113379,POL,Europe,Poland,2022-01-14,4281482.0,16049.0,12898.429,101841.0,422.0,344.714,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
113380,POL,Europe,Poland,2022-01-15,4298375.0,16893.0,13755.000,102270.0,429.0,364.286,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
113381,POL,Europe,Poland,2022-01-16,4313036.0,14661.0,14262.714,102305.0,35.0,366.143,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN

In [55]:
cd = cd.set_index('iso_code')
cd

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-01-12,224433.0,1433.0,768.000,5215.0,35.0,17.571,14870.823,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-01-13,225084.0,651.0,700.857,5222.0,7.0,16.286,14913.958,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-01-14,225637.0,553.0,622.143,5238.0,16.0,14.571,14950.599,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-01-15,225637.0,0.0,531.286,5238.0,0.0,12.857,14950.599,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-01-16,226078.0,441.0,594.286,5247.0,9.0,14.143,14979.820,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [57]:
cd.loc['POL']

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
POL,Europe,Poland,2020-03-04,1.0,1.0,NaN,NaN,NaN,NaN,0.026,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
POL,Europe,Poland,2020-03-05,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
POL,Europe,Poland,2020-03-06,5.0,4.0,NaN,NaN,NaN,NaN,0.132,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
POL,Europe,Poland,2020-03-07,5.0,0.0,NaN,NaN,NaN,NaN,0.132,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
POL,Europe,Poland,2020-03-08,11.0,6.0,NaN,NaN,NaN,NaN,0.291,...,23.3,33.1,NaN,6.62,78.73,0.88,-6305.6,-7.01,-6.3,-166.828055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
POL,Europe,Poland,2022-01-12,4248559.0,16173.0,12263.429,100938.0,684.0,324.571,112404.662,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
POL,Europe,Poland,2022-01-13,4265433.0,16874.0,12305.857,101419.0,481.0,301.143,112851.099,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
POL,Europe,Poland,2022-01-14,4281482.0,16049.0,12898.429,101841.0,422.0,344.714,113275.710,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
POL,Europe,Poland,2022-01-15,4298375.0,16893.0,13755.000,102270.0,429.0,364.286,113722.650,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN
POL,Europe,Poland,2022-01-16,4313036.0,14661.0,14262.714,102305.0,35.0,366.143,114110.538,...,23.3,33.1,NaN,6.62,78.73,0.88,NaN,NaN,NaN,NaN

In [61]:
cd = cd.reset_index()
cd

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155134,ZWE,Africa,Zimbabwe,2022-01-12,224433.0,1433.0,768.000,5215.0,35.0,17.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155135,ZWE,Africa,Zimbabwe,2022-01-13,225084.0,651.0,700.857,5222.0,7.0,16.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155136,ZWE,Africa,Zimbabwe,2022-01-14,225637.0,553.0,622.143,5238.0,16.0,14.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155137,ZWE,Africa,Zimbabwe,2022-01-15,225637.0,0.0,531.286,5238.0,0.0,12.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
155138,ZWE,Africa,Zimbabwe,2022-01-16,226078.0,441.0,594.286,5247.0,9.0,14.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [64]:
cd.date

0         2020-02-24
1         2020-02-25
2         2020-02-26
3         2020-02-27
4         2020-02-28
             ...
155134    2022-01-12
155135    2022-01-13
155136    2022-01-14
155137    2022-01-15
155138    2022-01-16
Name: date, Length: 155139, dtype: object

In [67]:
cd.date = cd.date.astype('datetime64[ns]')
cd.date

0        2020-02-24
1        2020-02-25
2        2020-02-26
3        2020-02-27
4        2020-02-28
            ...
155134   2022-01-12
155135   2022-01-13
155136   2022-01-14
155137   2022-01-15
155138   2022-01-16
Name: date, Length: 155139, dtype: datetime64[ns]